<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.browep.fpt"
          android:versionCode="5"
          android:versionName="2.1">

    <uses-sdk android:minSdkVersion="2"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.android.vending.BILLING"/>

    <application android:name=".FptApp"
                 android:label="Simple Workout Tracker"
                 android:icon="@drawable/swt_72_72"
                 android:debuggable="true"
            >

        <activity android:name=".ui.Welcome"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.CreateWorkout"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                >
        </activity>
        <activity android:name=".ui.WorkoutDefinitionForm"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                >
        </activity>
        <activity android:name=".ui.EnterDataChooser"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                >
        </activity>
        <activity android:name=".ui.EnterData"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                >
        </activity>
        <activity android:name=".ui.SeeProgressChooser"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                >
        </activity>
        <activity android:name=".ui.ViewProgress"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                >
        </activity>
        <activity android:name=".ui.SeePictures"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                >
        </activity>

        <activity android:name=".ui.TakeProgressPicture"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"

                ></activity>
        <activity android:name=".ui.EditData"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"

                >

        </activity>
        <activity android:name=".ui.ReportPaymentChooser"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"

                >

            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="browep-swt"></data>
            </intent-filter>
        </activity>
        <activity android:name=".ui.SendReport"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"

                ></activity>
        <activity android:name=".ui.FacebookAuth"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"

                ></activity>

        <receiver android:name=".billing.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY"/>
                <action android:name="com.android.vending.billing.RESPONSE_CODE"/>
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:name="billing.BillingService" />
        <service android:name=".billing.BillingService" />


    </application>

    <!-- Used for install referrer tracking -->
    <receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver" android:exported="true">
        <intent-filter>
            <action android:name="com.android.vending.INSTALL_REFERRER"/>
        </intent-filter>
    </receiver>
</manifest> 
